MONGODB_URI=mongodb+srv://aataahir527_db_user:msd7337@cluster007.unmaiad.mongodb.net/random-wheel-selector?retryWrites=true&w=majority&appName=Cluster007
MONGODB_DB=random-wheel-selector
NEXT_PUBLIC_SOCKET_URL=http://localhost:3000
ADMIN_PANEL_PASSWORD=change-me
